<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>MathLab</servlet-name>
		<servlet-class>ie.dit.student.hartnett.sean.MathLabServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MathLab</servlet-name>
		<url-pattern>/mathlab</url-pattern>
	</servlet-mapping>
<!-- 	<servlet> -->
<!-- 		<servlet-name>MathLab2</servlet-name> -->
<!-- 		<servlet-class>ie.dit.student.hartnett.sean.MathLabServlet2</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>MathLab2</servlet-name> -->
<!-- 		<url-pattern>/mathlab2</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>Addition</servlet-name> -->
<!-- 		<servlet-class>ie.dit.student.hartnett.sean.Addition</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>Addition</servlet-name> -->
<!-- 		<url-pattern>/addition</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>Subtraction</servlet-name> -->
<!-- 		<servlet-class>ie.dit.student.hartnett.sean.Subtraction</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>Subtraction</servlet-name> -->
<!-- 		<url-pattern>/subtraction</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>Multiplication</servlet-name> -->
<!-- 		<servlet-class>ie.dit.student.hartnett.sean.Multiplication</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>Multiplication</servlet-name> -->
<!-- 		<url-pattern>/multiplication</url-pattern> -->
<!-- 	</servlet-mapping> -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
